<div class="footer">
	<div class="clearfix">
		<div class="float-left">
			<a href="https://www.facebook.com/deewendra.shrestha" target="_blank">
				<img src="assets/images/facebook_circle_color-128.png" class="image-64"/>
			</a>
			<a href="https://plus.google.com/117229196648088275909/about" target="_blank">
				<img src="assets/images/google_circle_color-128.png" class="image-64"/>
			</a>
			<a href="https://www.linkedin.com/pub/deewendra-shrestha/22/a77/695" target="_blank">
				<img src="assets/images/linkedin_circle-128.png" class="image-64"/>
			</a>
		</div>
		<div class="float-right">
			<div class="label">© 2013 by DEEWENDRA GOPAL SHRESTHA. </div>
		</div>
	</div>	
</div>