<h1 class="grey-dotted-border-bottom">Enter user credentials</h1>
<div class="form-container-outer">
    <div class="form-container">
        <div class="row clearfix">
            <div class="col-3 float-left right-text"><span class="space-right-sm">User name :</span></div>
            <div class="col-7 float-left">{{input class="form-control" value=username}}</div>
        </div>
        <div class="row clearfix">
            <div class="col-3 float-left right-text"><span class="space-right-sm">Password :</span></div>
            <div class="col-7 float-left">{{input type="password" class="form-control" value=password}}</div>
        </div>
        <div class="row clearfix">
            <div class="col-3 float-left">&nbsp;</div>
            <div class="col-7 float-left">
                <button name="submit-feedback" type="submit" class="btn light" {{action 'login'}}>Login</button>
            </div>
        </div>
    </div>
</div>